---
layout: default
---

{%- comment -%}
  Display PI first
{%- endcomment -%}
{% assign pi = site.people | where: "role", "PI" %}
{% for person in pi %}
  {% capture floatcontent %}
    {% include portrait.html lookup=person.slug %}
    <div>
      {% for link in person.links %}
        {% assign key = link[0] %}
        {% assign value = link[1] %}
        {% include button.html type=key link=value style="bare" %}<br>
      {% endfor %}
    </div>
  {% endcapture %}
  {% include float.html content=floatcontent %}
  {{ person.content }}
{% endfor %}

<hr>

{%- comment -%}
  Display other members
{%- endcomment -%}
{% assign members = site.people | where_exp: "item", "item.role != 'PI'" %}
{% for person in members %}
  {% capture floatcontent %}
    {% include portrait.html lookup=person.slug %}
    <div>
      {% for link in person.links %}
        {% assign key = link[0] %}
        {% assign value = link[1] %}
        {% include button.html type=key link=value style="bare" %}<br>
      {% endfor %}
    </div>
  {% endcapture %}
  {% include float.html content=floatcontent %}
  {{ person.content }}
{% endfor %}